<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Regression suit">
        <classes>
            <class name="tests.LoginTest">
                <methods>
                    <include name="CheckLoginSuccessfully"/>
                    <include name="CheckLoginFaild"/>
                </methods>
            </class>
            <class name="tests.UserRegistrationTest">
                <methods>
                    <include name="UserCanRegisterSucessfully"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>