<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/kemo/IdeaProjects/Taf" parallel="classes">
        <classes>
            <class name="tests.CheckoutTest">
                <methods>
                    <include name="RegisterNewUser"/>
                    <include name="LoginSuccessfully"/>
                    <include name="SearchForProductCompleteName"/>
                    <include name="AddProductToCart"/>
                    <include name="Checkout"/>
                </methods>
            </class>
            <class name="tests.LoginTest">
                <methods>
                    <include name="CheckLoginSuccessfully"/>
                    <include name="CheckLoginFaild"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>